
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: blue;
}

p{
    text-indent: 0.1em;
    text-transform: uppercase;
    font-stretch: expanded;
}

.box{
    border: 0.3em solid bisque;
    display: inline-block;
    background-color: darkmagenta;
    color: white;
    padding: 0.3em;
}

.box:hover{
    background-color: beige;
    color: blueviolet;
    border: 0.2em double olivedrab;
}